.btn{
    border-radius: 0;
    z-index: 2;
    position: relative;
    padding: 8px 25px;
    font-size: 14px;
}
.btn-primary{
    background: $primary;
    border-color: $primary;
    color: $white;
}
.btn-secondary{
    background: $dark;
    padding: 10px 30px;
    border: 0;
}
.btn-outline-primary{    
    border-color: $primary;
    color: $primary;
}